{% extends "layout.html" %}
{% block content %}

<script>
        $(document).ready(function() {
        var heights = $(".panel-body").map(function() {
            return $(this).height();
        }).get(),
     
        maxHeight = Math.max.apply(null, heights);
     
        $(".panel-body").height(maxHeight);
        });
</script>

<!-- Jumbotron -->
<div class="jumbotron jumbotron-degrade">
	<h1>Generador de Interacciones IMS-QTI</h1>		
</div>
<!-- Columnas principales -->
<div class="well col-md-10 col-md-offset-1">			
	<div class="col-md-4">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">Crear Interacción</h3>
			</div>
			<div class="panel-body">
				<a class="btn btn-success btn-block" href="/selec_multiple">Seleccion Múltiple</a>
				<a class="btn btn-success btn-block">Términos Pareados</a>
				<a class="btn btn-success btn-block" href="/orden">Ordenamiento</a>
				<a class="btn btn-success btn-block">Completar Frase</a>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="panel panel-primary">	
			<div class="panel-heading">			
				<h3 class="panel-title">Tus Preguntas</h3>
			</div>
			<div class="panel-body">
				<div class="col-md-12" align="center">
					<p><b>No estás logueado</b><br>
						Puedes almacenar y ver tus preguntas en cualquier momento además de compartirlas con todo el mundo.
					</p>
				</div>	
				<div class="col-md-6 col-md-offset-3">
					<a class="btn btn-success btn-block" href="/sign-up">Crear Cuenta</a>
					<a class="btn btn-success btn-block">Login</a>
				</div>
			</div>			
		</div>
	</div>
	<div class="col-md-4">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">Últimas preguntas añadidas</h3>
			</div>
			<div class="panel-body">
			</div>
		</div>
	</div>
</div>
{% endblock %}
