{% extends "layout.html" %}

{% block content %}
<script type="text/javascript">
	var num_alternativas = 0;
	$(document).ready(function(){
		var submit = "";
		$("#num").change(function(){
			$("#alternativas").empty();
			var alt = $("#num").val();
			if (alt < 3 || alt >5){
				alert("El numero de alternativas debe estar entre 3 y 5.");
				$("#submit").attr("class","btn btn-success disabled");
			}
			else{
				$("#submit").attr("class","btn btn-success");
				for (var i = 1; i <= alt; i++) {
				var rows = "<div class='col-md-offset-2 col-md-1 control-label'><input id='checkbox_"+i+"' type='checkbox'></div><div class='col-md-8'><input id='alter_"+i+"' type='text' class='form-control' placeholder='texto' required></div>";
				$(rows).appendTo("#alternativas");

				};
			}
			num_alternativas = $('#num').val()
			$("#num_alternativas").val(num_alternativas)
		})
	});
</script>

<div>
	<div class="row">
		<h1 class="col-md-offset-2 col-md-8 well">Selección múltiple</h1>
	</div>
	<div class="row">
		<div class="col-md-offset-2 col-md-8 well">
			<form class="form-horizontal" name="pregunta" action="" method="POST">
				<div class="form-group form-group-lg">
					<label class="col-md-3 control-label" for="t_pregunta">Título de la pregunta:</label>
					<div class="col-md-8">
						<textarea class="form-control" name"t_pregunta" id="titulo" style="resize:none;" required></textarea>
					</div>
				</div>
				<div class="form-group form-group-lg">
					<label class="col-md-3 control-label" for="d_pregunta">Descripción de la pregunta:</label>
					<div class="col-md-8">
						<textarea id="d_pregunta" class="form-control" name"d_pregunta" style="resize:none;" required></textarea>
					</div>
				</div>
				<div class="form-group form-group-lg">
					<label class="col-md-3 control-label" for="n_alter">
						N° de alternativas: 
					</label>
					<div class="col-md-8">
						<input id="num" type="number" name="n_alter" step="1" class="form-control">
					</div>
				</div>
				<!-- 
				<div class="form-group form-group-lg">
					<label class="col-md-3 control-label" for="a_imagen">Imagen de apoyo:</label>
					<div class="col-md-8 control-label"><input type="file" name="a_imagen"></div>
				</div>
			-->
				<div class="form-group form-group-lg" align="center"><label class="control-label">Ingrese alternativas y seleccione las correctas:</label></div>
				<input id="num_alternativas" type="hidden" name="num_alternativas" value="">
				<div id="alternativas" class="form-group form-group-lg">
				</div>
				<div class='form-group form-group-lg' align='center'>
					<button id='submit' type="submit" class='btn btn-success disabled'>Crear</button>
				</div>
			</form>
		</div>
	</div>
</div>

{% endblock %}